@model IEnumerable<FinalProject_MVCapp_SERAFIN.Models.TaxSystemUsersMODEL>

@{
    ViewBag.Title = "TaxSystemUsers_Manage_View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users Management View</h2>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>loginId </th>
        <th>userName </th>
        <th>passWord </th>
        <th>description</th>
        <th>isAdmin</th>
        <th>Options</th>
    </tr>
    @foreach (var userA in Model)
    {
        <tr>
            <td>@userA.loginId</td>
            <td>@userA.userName</td>
            <td>@userA.passWord</td>
            <td>@userA.description</td>
            <td>@userA.isAdmin</td>
            <td>
                @Html.ActionLink("Edit User", "Edit", new { id=userA.loginId }) |
                @Html.ActionLink("Delete User", "Delete", new { id=userA.loginId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New User", "Create")
</p>

